@using PhoneWebShop.Domain.Entities;
@using System.Net.Http.Json

@page "/"

@if (phones == null)
{
    <h3>Loading</h3>
}
else
{
    <ListGroup>
        @foreach (Phone phone in phones)
        {
            <PhoneInfo Phone="@phone" />
        }
    </ListGroup>
}

@code {
    /*[Inject]
    IPhoneService PhoneService { get; set; }*/

    private IEnumerable<Phone> phones;

    protected override async void OnInitialized()
    {
        base.OnInitialized();

        HttpClient client = new HttpClient();
        phones = await client.GetFromJsonAsync<IEnumerable<Phone>>("https://localhost:44337/api/Phones/Search");
        StateHasChanged();

        //phones = PhoneService.GetAll().Result;

        /*Brand samsung = new()
        {
            Id = 1,
            Name = "Samsung"
        };

        Brand huawei = new()
        {
            Id = 2,
            Name = "Huawei"
        };

        phones = new()
        {
            new()
            {
                Brand = samsung,
                Type = "Galaxy A51",
                VATPrice = 200,
                Stock = 9,
                Description = "A georgeous phone"
            },
            new()
            {
                Brand = samsung,
                Type = "Galaxy A22",
                VATPrice = 201,
                Stock = 8
            },
            new()
            {
                Brand = samsung,
                Type = "Galaxy A03",
                VATPrice = 202,
                Stock = 7
            },
            new()
            {
                Brand = huawei,
                Type = "P50",
                VATPrice = 100,
                Stock = 5
            },
            new()
            {
                Brand = huawei,
                Type = "P51",
                VATPrice = 101,
                Stock = 4
            },
            new()
            {
                Brand = huawei,
                Type = "P52",
                VATPrice = 102,
                Stock = 3
            }
        };*/
    }
}