@using ApiClient;
@using PhoneWebShop.Api.Models;
@using System.Text.Json;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

@page "/login"

<h3>Login</h3>
<Validations @ref="validations" Mode="ValidationMode.Auto" Model="@userInfo">
    <Validation Validator="@ValidationRule.IsEmail">
        <div class="form-group">
            <label For="Email">Email</label>
            <TextEdit @bind-Text="userInfo.UserName" class="form-control" id="Email">
                <Feedback>
                    <ValidationError>Please enter a valid email address</ValidationError>
                </Feedback>
            </TextEdit>
        </div>
    </Validation>
    
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <div class="form-group">
            <label For="Password">Password</label>
            <TextEdit @bind-Text="userInfo.Password" type="password" class="form-control" id="Password">
                <Feedback>
                    <ValidationError>Please enter your password</ValidationError>
                </Feedback>
            </TextEdit>
        </div>
    </Validation>

    <Button Color="Color.Primary" Clicked="Submit">Login</Button>
    @if (loginError != null)
    {
        <br /><br />
        <h4 class="alert-warning">@loginError</h4>
    }
</Validations>

@code {
    [Inject]
    ApiClient ApiClient { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    LoginUserInputModel userInfo = new LoginUserInputModel();
    Validations validations;
    string loginError;

    async void Submit()
    {
        loginError = null;
        if (await validations.ValidateAll())
        {
            HttpResponseMessage httpRes = await ApiClient.Login(userInfo);
            string content = await httpRes.Content.ReadAsStringAsync();

            if (httpRes.IsSuccessStatusCode)
            {
                LoginResponse loginRes = JsonSerializer.Deserialize<LoginResponse>(
                    content, new JsonSerializerOptions(JsonSerializerDefaults.Web));
                if (loginRes.Success)
                {
                    await ProtectedSessionStore.SetAsync("token", loginRes.Token);
                    NavigationManager.NavigateTo("/");
                }
            }
            else
            {
                loginError = content;
            }
        }
        StateHasChanged();
    }

    class LoginResponse
    {
        public bool Success { get; set; }

        public string Token { get; set; }
    }
}
