@using PhoneWebShop.Domain.Entities;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

@page "/phone/{Id:int}"

@if (phone == null)
{
    <h3>Loading</h3>
}
else
{
    <div>
        <div class="phone">
            <h3>@phone.FullName</h3>
            <Button class="back-button" onclick="javascript:history.back()">Back</Button>

            <img src="phone.png" />
            <div class="phone-info">
                <h4>&euro;@phone.VATPrice</h4>

                @if (phone.Stock > 5)
                {
                    <p>phone.Stock in stock</p>
                }
                else
                {
                    <p>Almost out of stock! Only @phone.Stock left!</p>
                }
            </div>

            <div class="phone-description">
                @phone.Description
            </div>
            @if (token != null)
            {
                <Button @onclick="Delete">Delete</Button>
            }
        </div>
    </div>
}

@code {
    /*[Inject]
    IPhoneService PhoneService { get; set; }*/

    [Parameter]
    public int Id { get; set; }

    private Phone phone;
    private string token;

    protected override async void OnInitialized()
    {
        base.OnInitialized();

        var result = await ProtectedSessionStore.GetAsync<string>("token");
        if (result.Success)
        {
            token = result.Value;
        }

        ApiClient client = new ApiClient();
        phone = await client.GetPhone(Id);
        StateHasChanged();
    }

    async void Delete()
    {
        ApiClient client = new ApiClient();
        HttpResponseMessage res = await client.DeletePhone(phone.Id, token);
    }
}
