@using PhoneWebShop.Domain.Entities;
@inject IJSRuntime JsRuntime

<div>
    <ListGroupItem class="phone" Border="Border.Is1.Dark">
        <div class="phone-image"><div class="phone-image-x" /></div>
        <div class="phone-info">
            <h4 class="phone-name">@Phone.FullName</h4>
            &euro;@Phone.VATPrice  @Phone.Stock left in stock!
        </div>
        <Button Color="Color.Primary" Type="ButtonType.Link" To="@("/phone/" + Phone.Id)" class="phone-button">Show more</Button>
        <!--<Button class="phone-button" @onclick="ShowDescription">Show more</Button>-->
    </ListGroupItem>
</div>

@code {
    [Parameter]
    public Phone Phone { get; set; }

    /*private void ShowDescription()
    {
        if (Phone.Description != null)
        {
            JsRuntime.InvokeVoidAsync("alert", Phone.Description);
        }
    }*/
}
