@using PhoneWebShop.Domain.Entities;
@inject IJSRuntime JsRuntime

<ListGroupItem>
    <div class="phone">
        <div class="phone-image"><div class="phone-image-x" /></div>
        <div class="phone-info">
            <h4 class="phone-name">@Phone.FullName</h4>
            &euro;@Phone.VATPrice  @Phone.Stock left in stock!
            <button class="btn btn-primary phone-button" @onclick="ShowDescription">Show more</button>
        </div>
    </div>
</ListGroupItem>

@code {
    [Parameter]
    public Phone Phone { get; set; }

    private void ShowDescription()
    {
        if (Phone.Description != null)
        {
            JsRuntime.InvokeVoidAsync("alert", Phone.Description);
        }
    }
}
