@using PhoneWebShop.Domain.Entities;
@inject IJSRuntime JsRuntime

<ListGroupItem Style="width: 420px; margin: 5px;" Border="Border.Is1.Dark">
    <div class="phone-image"><div class="phone-image-x" /></div>
    <div class="phone-info">
        <h4 class="phone-name">@Phone.FullName</h4>
        &euro;@Phone.VATPrice  @Phone.Stock left in stock!
    </div>
    <Button style="position: absolute; bottom: 12px; right: 12px; margin: 5px; border: 1px solid black;" @onclick="ShowDescription">Show more</Button>
</ListGroupItem>

@code {
    [Parameter]
    public Phone Phone { get; set; }

    private void ShowDescription()
    {
        if (Phone.Description != null)
        {
            JsRuntime.InvokeVoidAsync("alert", Phone.Description);
        }
    }
}
